---
- name: Create an SSH key for the Unix user
  user: name={{ ansible_user_id }} generate_ssh_key=yes

- name: Configure Jenkins security realm
  tags: solita_jenkins_security
  solita_jenkins_security_realm: realm={{ solita_jenkins_security_realm }} admin_password={{ lookup('password', inventory_dir + '/solita_jenkins_default_password/solita_jenkins') }}
  when: solita_jenkins_security_realm is defined

- name: Check that user variables are only used with solita_jenkins_security_realm='jenkins'
  tags: solita_jenkins_security
  fail: msg="User variables are only allowed with solita_jenkins_security_realm='jenkins'"
  when: ({{ item }} | length > 0) and ((solita_jenkins_security_realm | default(None)) != 'jenkins')
  with_items:
    - solita_jenkins_users
    - solita_jenkins_absent_users

- name: Add present Jenkins users
  tags: solita_jenkins_security
  solita_jenkins_user: name={{ item }} password={{ lookup('password', inventory_dir + '/solita_jenkins_default_password/' + item) }} state=present
  with_items: "{{ solita_jenkins_users }}"

- name: Remove absent Jenkins users
  tags: solita_jenkins_security
  solita_jenkins_user: name={{ item }} state=absent
  with_items: "{{ solita_jenkins_absent_users }}"

- name: copy job-dsl-config.xml to destination
  sudo: yes
  sudo_user: jenkins
  copy: src={{ role_path }}/files/job-dsl-config.xml dest=/var/lib/jenkins/job-dsl-config.xml

- name: Create the job-dsl job
  shell: java -jar {{ jenkins_jar_location }} -s http://{{ jenkins_hostname }}:{{ jenkins_http_port }}/ create-job job-dsl < '/var/lib/jenkins/job-dsl-config.xml'
  args:
    creates: /var/lib/jenkins/jobs/job-dsl/config.xml

- name: Update the job-dsl job configuration
  sudo: yes
  sudo_user: jenkins
  copy:
    src: job-dsl-config.xml
    dest: /var/lib/jenkins/jobs/job-dsl/config.xml
  register: update_job_dsl_job

- name: Reload the job-dsl job
  command: java -jar {{ jenkins_jar_location }} -s http://{{ jenkins_hostname }}:{{ jenkins_http_port }}/ reload-job job-dsl
  when: update_job_dsl_job | changed

- name: Create the job-dsl workspace
  sudo: yes
  sudo_user: jenkins
  file:
    path: "{{ item }}"
    state: directory
  with_items:
  - /var/lib/jenkins/jobs/job-dsl/workspace
  - /var/lib/jenkins/workspace/job-dsl

# The default workspace location seems to have changed.
- name: Update the Job DSL scripts (old workspace location)
  tags: solita_jenkins_jobs
  sudo: yes
  sudo_user: jenkins
  copy:
    src: "{{ item }}"
    dest: /var/lib/jenkins/jobs/job-dsl/workspace
  with_fileglob:
    - "{{ playbook_dir }}/job-dsl/*.groovy"
  register: update_job_dsl_scripts_old

- name: Update the Job DSL scripts (new workspace location)
  tags: solita_jenkins_jobs
  sudo: yes
  sudo_user: jenkins
  copy:
    src: "{{ item }}"
    dest: /var/lib/jenkins/workspace/job-dsl
  with_fileglob:
    - "{{ playbook_dir }}/job-dsl/*.groovy"
  register: update_job_dsl_scripts_new

- name: Run the Job DSL scripts
  tags: solita_jenkins_jobs
  shell: java -jar {{ jenkins_jar_location }} -s http://{{ jenkins_hostname }}:{{ jenkins_http_port }}/ build job-dsl -s -v
  when: (update_job_dsl_job is not defined) or (update_job_dsl_job | changed) or (update_job_dsl_scripts_old | changed) or (update_job_dsl_scripts_new | changed)
